body {
    font-family: sans-serif;
    margin: auto;
    max-width: 1280px;
}

ul {
    display: flex;
    justify-content: space-between;
}


/* nav .botao {
    display: flex;
    justify-content: space-between;
} */

img {
    align-items: center;
}

nav .botao {
    width: 100px;
    /* display: inline-block; */
    margin: 0px 4px 0px 4px;
    padding: 0px 4px 0px 4px;
}